.login-form {
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
  }
}
.forgot-password-wrapper  {
  text-align: end;
  .forgot-password-link {
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
  }

}

.button-group {
  margin-top: 2rem;
  text-align: center;
  .btn-login {
    margin-right: 1rem;
    padding: 1rem 3.6rem;
    transition: 450ms ease;
    &:hover {
      background: darken($primary-color, 10%);
    }
  }
  .btn-register {
    padding: 0.85rem 3.6rem;
    border-width: 2px;
    transition: .4s ease;
  }
}
